/* =======================================*/
/*
/* COLORS
/*
/* =======================================*/
/* =======================================*/
/*
/* LAYOUT
/*
/* =======================================*/
/* =======================================*/
/*
/* TYPOGRAPHY
/*
/* =======================================*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
/* =======================================*/
/*
/* USER INTERFACE
/*
/* =======================================*/
/* =======================================*/
/*
/* ELEMENTQUERIES
/* 
/* =======================================*/
/* =======================================*/
/* RESPOND AT - use: @include respond-at($name) {...} 
/* =======================================*/
/* =======================================*/
/* RESPOND ABOVE - use: @include respond-above($name) {...} 
/* =======================================*/
/* =======================================*/
/* RESPOND BELOW - use: @include respond-below($name) {...} 
/* =======================================*/
/* =======================================*/
/* RESPOND BETWEEN - use: @include respond-between($name1, $name2) {...} 
/* =======================================*/
/* =======================================*/
/* 
/* FLEXBOX
/* 
/* =======================================*/
/* =======================================*/
/*
/* GRID
/*
/* =======================================*/
body {
  max-width: 90%;
  margin: 20px auto;
  font-family: 'OpenSansRegular', sans-serif;
  color: #333;
}

body * {
  box-sizing: border-box;
}

body p {
  color: #666;
  font-size: 14px;
}

body strong {
  color: #333;
}

body hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}

body h3 {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 80px;
}

div {
  padding: 15px;
  color: #333;
  font-size: 12px;
  overflow: hidden;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.fraction {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (1/3));
  flex: none;
}

.fraction::before {
  content: "column('1/3')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.fraction:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.fraction:last-child {
  margin-right: 0;
}

.fraction:nth-child(3n) {
  margin-right: 0;
}

.fraction:nth-child(3n + 1) {
  clear: both;
}

.fraction-with-gutter {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (1/3) - (20px - 20px * (1/3)));
  flex: none;
}

.fraction-with-gutter::before {
  content: "column('1/3')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.fraction-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fraction-with-gutter:last-child {
  margin-right: 0;
}

.fraction-with-gutter:nth-child(3n) {
  margin-right: 0;
}

.fraction-with-gutter:nth-child(3n + 1) {
  clear: both;
}

.fixed {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: 165px ;
  flex: none;
}

.fixed::before {
  content: "column('165px')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.fixed:last-child {
  margin-right: 0;
}

.fixed-with-gutter {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: 165px ;
  flex: none;
}

.fixed-with-gutter::before {
  content: "column('165px')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.fixed-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fixed-with-gutter:last-child {
  margin-right: 0;
}

.content {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: auto;
  flex: none;
}

.content::before {
  content: "column('content')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.content:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.content:last-child {
  margin-right: 0;
}

.content-with-gutter {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: auto;
  flex: none;
}

.content-with-gutter::before {
  content: "column('content')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.content-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-with-gutter:last-child {
  margin-right: 0;
}

.auto {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  flex: 1;
}

.auto::before {
  content: "column('auto')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.auto:last-child {
  margin-right: 0;
}

.auto-with-gutter {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  flex: 1;
}

.auto-with-gutter::before {
  content: "column('auto')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.auto-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.auto-with-gutter:last-child {
  margin-right: 0;
}

.auto-combination.fixed {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: 165px ;
  flex: none;
}

.auto-combination.fixed::before {
  content: "column('165px')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.auto-combination.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.auto-combination.fixed:last-child {
  margin-right: 0;
}

.auto-combination.auto {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  flex: 1;
}

.auto-combination.auto::before {
  content: "column('auto')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.auto-combination.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.auto-combination.auto:last-child {
  margin-right: 0;
}

.auto-combination-with-gutter.fixed {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: 165px ;
  flex: none;
}

.auto-combination-with-gutter.fixed::before {
  content: "column('165px')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.auto-combination-with-gutter.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.auto-combination-with-gutter.fixed:last-child {
  margin-right: 0;
}

.auto-combination-with-gutter.auto {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  flex: 1;
}

.auto-combination-with-gutter.auto::before {
  content: "column('auto')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.auto-combination-with-gutter.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.auto-combination-with-gutter.auto:last-child {
  margin-right: 0;
}

.multiline-with-gutter {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (1/3) - (20px - 20px * (1/3)));
  flex: none;
}

.multiline-with-gutter::before {
  content: "column('1/3')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.multiline-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.multiline-with-gutter:last-child {
  margin-right: 0;
}

.multiline-with-gutter:nth-child(3n) {
  margin-right: 0;
}

.multiline-with-gutter:nth-child(3n + 1) {
  clear: both;
}

.multiline-and-nested {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (1/3));
  flex: none;
}

.multiline-and-nested::before {
  content: "column('1/3')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.multiline-and-nested:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.multiline-and-nested:last-child {
  margin-right: 0;
}

.multiline-and-nested:nth-child(3n) {
  margin-right: 0;
}

.multiline-and-nested:nth-child(3n + 1) {
  clear: both;
}

.multiline-and-uneven.small {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (1/4));
  flex: none;
}

.multiline-and-uneven.small::before {
  content: "column('1/4')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.multiline-and-uneven.small:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.multiline-and-uneven.small:last-child {
  margin-right: 0;
}

.multiline-and-uneven.small:nth-child(4n) {
  margin-right: 0;
}

.multiline-and-uneven.small:nth-child(4n + 1) {
  clear: both;
}

.multiline-and-uneven.big {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (2/4));
  flex: none;
}

.multiline-and-uneven.big::before {
  content: "column('2/4')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.multiline-and-uneven.big:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.multiline-and-uneven.big:last-child {
  margin-right: 0;
}

.multiline-and-uneven.big:nth-child(4n) {
  margin-right: 0;
}

.multiline-and-uneven.big:nth-child(4n + 1) {
  clear: both;
}

.multiline-and-uneven-with-gutter.small {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (1/4) - (20px - 20px * (1/4)));
  flex: none;
}

.multiline-and-uneven-with-gutter.small::before {
  content: "column('1/4, $cycle: 3')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.multiline-and-uneven-with-gutter.small:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.multiline-and-uneven-with-gutter.small:last-child {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.small:nth-child(3n) {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.small:nth-child(3n + 1) {
  clear: both;
}

.multiline-and-uneven-with-gutter.big {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: calc(99.999999% * (2/4) - (20px - 20px * (2/4)));
  flex: none;
}

.multiline-and-uneven-with-gutter.big::before {
  content: "column('2/4, $cycle: 3')";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

.multiline-and-uneven-with-gutter.big:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.multiline-and-uneven-with-gutter.big:last-child {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.big:nth-child(3n) {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.big:nth-child(3n + 1) {
  clear: both;
}

.behavior {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: 100%;
  margin-bottom: 0px;
}

.behavior::before {
  content: "column('1/4', $stacking: xl)";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

@media only screen and (min-width: 960px) {
  .behavior {
    width: calc(99.999999% * (1/4));
    flex: none;
  }
  .behavior:nth-child(1n) {
    float: left;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .behavior:last-child {
    margin-right: 0;
  }
  .behavior:nth-child(4n) {
    margin-right: 0;
  }
  .behavior:nth-child(4n + 1) {
    clear: both;
  }
}

.behavior-with-gutter {
  /* =======================================*/
  /*
  /* RUN BASIC CHECKS
  /*
  /* =======================================*/
  background: rgba(51, 51, 51, 0.085) !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  /* =======================================*/
  /*
  /* BUILD GRID
  /*
  /* =======================================*/
  width: 100%;
  margin-bottom: 20px;
}

.behavior-with-gutter::before {
  content: "column('1/4', $stacking: true)";
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.85) !important;
}

@media only screen and (min-width: 800px) {
  .behavior-with-gutter {
    width: calc(99.999999% * (1/4) - (20px - 20px * (1/4)));
    flex: none;
  }
  .behavior-with-gutter:nth-child(1n) {
    float: left;
    clear: none;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .behavior-with-gutter:last-child {
    margin-right: 0;
  }
  .behavior-with-gutter:nth-child(4n) {
    margin-right: 0;
  }
  .behavior-with-gutter:nth-child(4n + 1) {
    clear: both;
  }
}
