* {box-sizing: border-box;}
$whitespace: 20px;


@import 'grid_functions';
@import 'grid_flexbox';
@import 'grid_column';


.grid {
  // @include flexbox();
  max-width: 1000px;
  margin: 20px auto;
}
.box {
  @include column('1/3', $gutter: 5px);
  background: rgba(0,0,0,0.15);
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.15);
}

