body {
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'OpenSansRegular', sans-serif;
  color: #333;
}

body * {
  box-sizing: border-box;
}

body p {
  color: #666;
  font-size: 14px;
}

body strong {
  color: #333;
}

body hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}

body h3 {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

/* =======================================*/
/* 
/* FLEXBOX
/* 
/* =======================================*/
/* =======================================*/
/*
/* GRID
/*
/* =======================================*/
.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div {
  background: #f1f1f1;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 12px;
  overflow: hidden;
}

.fraction {
  width: calc(99.999999% * (1/3));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.fraction::before {
  content: "column('1/3')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.fraction:nth-child(1n) {
  float: left;
  clear: none;
}

.fraction:last-child {
  margin-right: 0;
}

.fraction:nth-child(3n) {
  margin-right: 0;
}

.fraction:nth-child(3n + 1) {
  clear: both;
}

.fraction-with-gutter {
  width: calc(99.999999% * (1/3) - (20px - 20px * (1/3)));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.fraction-with-gutter::before {
  content: "column('1/3')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.fraction-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fraction-with-gutter:last-child {
  margin-right: 0;
}

.fraction-with-gutter:nth-child(3n) {
  margin-right: 0;
}

.fraction-with-gutter:nth-child(3n + 1) {
  clear: both;
}

.fixed {
  width: 165px ;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.fixed::before {
  content: "column('165px')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.fixed:nth-child(1n) {
  float: left;
  clear: none;
}

.fixed:last-child {
  margin-right: 0;
}

.fixed-with-gutter {
  width: 165px ;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.fixed-with-gutter::before {
  content: "column('165px')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.fixed-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fixed-with-gutter:last-child {
  margin-right: 0;
}

.content {
  width: auto;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.content::before {
  content: "column('content')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.content:nth-child(1n) {
  float: left;
  clear: none;
}

.content:last-child {
  margin-right: 0;
}

.content-with-gutter {
  width: auto;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.content-with-gutter::before {
  content: "column('content')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.content-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-with-gutter:last-child {
  margin-right: 0;
}

.auto {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.auto::before {
  content: "column('auto')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.auto:nth-child(1n) {
  float: left;
  clear: none;
}

.auto:last-child {
  margin-right: 0;
}

.auto-with-gutter {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.auto-with-gutter::before {
  content: "column('auto')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.auto-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.auto-with-gutter:last-child {
  margin-right: 0;
}

.auto-combination.fixed {
  width: 165px ;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.auto-combination.fixed::before {
  content: "column('165px')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.auto-combination.fixed:nth-child(1n) {
  float: left;
  clear: none;
}

.auto-combination.fixed:last-child {
  margin-right: 0;
}

.auto-combination.auto {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.auto-combination.auto::before {
  content: "column('auto')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.auto-combination.auto:nth-child(1n) {
  float: left;
  clear: none;
}

.auto-combination.auto:last-child {
  margin-right: 0;
}

.auto-combination-with-gutter.fixed {
  width: 165px ;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.auto-combination-with-gutter.fixed::before {
  content: "column('165px')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.auto-combination-with-gutter.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.auto-combination-with-gutter.fixed:last-child {
  margin-right: 0;
}

.auto-combination-with-gutter.auto {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.auto-combination-with-gutter.auto::before {
  content: "column('auto')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.auto-combination-with-gutter.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.auto-combination-with-gutter.auto:last-child {
  margin-right: 0;
}

.multiline-with-gutter {
  width: calc(99.999999% * (1/3) - (20px - 20px * (1/3)));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.multiline-with-gutter::before {
  content: "column('1/3')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.multiline-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.multiline-with-gutter:last-child {
  margin-right: 0;
}

.multiline-with-gutter:nth-child(3n) {
  margin-right: 0;
}

.multiline-with-gutter:nth-child(3n + 1) {
  clear: both;
}

.multiline-and-nested {
  width: calc(99.999999% * (1/3));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.multiline-and-nested::before {
  content: "column('1/3')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.multiline-and-nested:nth-child(1n) {
  float: left;
  clear: none;
}

.multiline-and-nested:last-child {
  margin-right: 0;
}

.multiline-and-nested:nth-child(3n) {
  margin-right: 0;
}

.multiline-and-nested:nth-child(3n + 1) {
  clear: both;
}

.multiline-and-uneven.small {
  width: calc(99.999999% * (1/4));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.multiline-and-uneven.small::before {
  content: "column('1/4')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.multiline-and-uneven.small:nth-child(1n) {
  float: left;
  clear: none;
}

.multiline-and-uneven.small:last-child {
  margin-right: 0;
}

.multiline-and-uneven.small:nth-child(4n) {
  margin-right: 0;
}

.multiline-and-uneven.small:nth-child(4n + 1) {
  clear: both;
}

.multiline-and-uneven.big {
  width: calc(99.999999% * (2/4));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.multiline-and-uneven.big::before {
  content: "column('2/4')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.multiline-and-uneven.big:nth-child(1n) {
  float: left;
  clear: none;
}

.multiline-and-uneven.big:last-child {
  margin-right: 0;
}

.multiline-and-uneven.big:nth-child(4n) {
  margin-right: 0;
}

.multiline-and-uneven.big:nth-child(4n + 1) {
  clear: both;
}

.multiline-and-uneven-with-gutter.small {
  width: calc(99.999999% * (1/4) - (20px - 20px * (1/4)));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.multiline-and-uneven-with-gutter.small::before {
  content: "column('1/4, $cycle: 3')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.multiline-and-uneven-with-gutter.small:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.multiline-and-uneven-with-gutter.small:last-child {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.small:nth-child(3n) {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.small:nth-child(3n + 1) {
  clear: both;
}

.multiline-and-uneven-with-gutter.big {
  width: calc(99.999999% * (2/4) - (20px - 20px * (2/4)));
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.multiline-and-uneven-with-gutter.big::before {
  content: "column('2/4, $cycle: 3')";
  display: block;
  width: 100%;
  margin-right: -200px;
}

.multiline-and-uneven-with-gutter.big:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.multiline-and-uneven-with-gutter.big:last-child {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.big:nth-child(3n) {
  margin-right: 0;
}

.multiline-and-uneven-with-gutter.big:nth-child(3n + 1) {
  clear: both;
}

/*# sourceMappingURL=styles.css.map */