@charset "UTF-8";
/* =======================================*/
/*
/*
/* COLORS
/*
/*
/* =======================================*/
/*
  Description & Documentation here
*/
/* =======================================*/
/* Color Defaults
/* =======================================*/
/* =======================================*/
/* Color Hooks
/* =======================================*/
/* =======================================*/
/*
/*
/* LAYOUT
/*
/*
/* =======================================*/
/*
  Description & Documentation here
*/
/* =======================================*/
/* Spacing
/* =======================================*/
/* =======================================*/
/* Breakpoints
/* =======================================*/
/* =======================================*/
/* Debug
/* =======================================*/
/* =======================================*/
/* Element Queries (experimental)
/* =======================================*/
/* =======================================*/
/*
/*
/* TYPOGRAPHY
/*
/*
/* =======================================*/
/*
  Description & Documentation here
*/
/* =======================================*/
/* Families
/* =======================================*/
/* =======================================*/
/* Sizes
/* =======================================*/
/* =======================================*/
/* Other
/* =======================================*/
/* =======================================*/
/*
/*
/* UI
/*
/*
/* =======================================*/
/*
  Description & Documentation here
*/
/* =======================================*/
/* Icons
/* =======================================*/
/* =======================================*/
/* Borders
/* =======================================*/
/* =======================================*/
/* Radius
/* =======================================*/
/* =======================================*/
/* Shadows
/* =======================================*/
/* =======================================*/
/* Transitions
/* =======================================*/
/* =======================================*/
/* Overlay
/* =======================================*/
/* =======================================*/
/*
/* CORE - NORMALIZE
/*
/* =======================================*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* =======================================*/
/*
/* CORE - RESET
/*
/* =======================================*/
/*
  Description & Documentation here
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* =======================================*/
/*
/* CORE - TRANSITION
/*
/* =======================================*/
/*
  Description & Documentation here
*/
/* =======================================*/
/*
/* CORE - TYPOGRAPHY
/*
/* =======================================*/
/*
  Description & Documentation here
*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #595959;
}

ul, ol {
  margin: 0;
  padding-left: 20px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #333333;
  margin: 0 0 10px 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 16.38px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 11.62px;
}

h6 {
  font-size: 9.38px;
}

p {
  line-height: 1.6;
  margin: 0 0 10px 0;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #2196F3;
  text-decoration: none;
}

blockquote {
  margin: 10px 20px;
}

hr {
  height: 0;
  border: 1px solid #e2e2e2;
  border-width: 0 0 1px 0;
  margin: 20px auto;
}
hr.dashed {
  border-style: dashed;
}

/* =======================================*/
/* 
/* GRID FUNCTIONS
/* 
/* =======================================*/
/* =======================================*/
/* 
/* GRID
/* 
/* =======================================*/
/* =======================================*/
/*
/* GRID COLUMN
/*
/* =======================================*/
/* =======================================*/
/*
/* CONTAINER
/*
/* =======================================*/
/* =======================================*/
/*
/* GRID QUERIES
/* 
/* =======================================*/
/* =======================================*/
/* RESPOND AT - use: @include respond-at($name) {...} 
/* =======================================*/
/* =======================================*/
/* RESPOND ABOVE - use: @include respond-above($name) {...} 
/* =======================================*/
/* =======================================*/
/* RESPOND BELOW - use: @include respond-below($name) {...} 
/* =======================================*/
/* =======================================*/
/* RESPOND BETWEEN - use: @include respond-between($name1, $name2) {...} 
/* =======================================*/
/* =======================================*/
/*
/* GRID QUERIES - DEBUG
/* 
/* =======================================*/
html:before,
html:after,
body:before,
body:after {
  padding: 5px 10px;
  font-size: 13px;
  font-family: sans-serif;
  text-align: right;
  display: block;
  background: rgba(255, 255, 255, 0.65) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
  position: fixed;
  right: 20px;
  z-index: 100000;
  pointer-events: none;
}

html:before {
  bottom: 20px;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: underline;
}
@media only screen and (min-width: 1275px) {
  html:before {
    content: "Breakpoint: XXL";
  }
}
@media only screen and (min-width: 960px) and (max-width: 1275px) {
  html:before {
    content: "Breakpoint: XL";
  }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
  html:before {
    content: "Breakpoint: L";
  }
}
@media only screen and (min-width: 650px) and (max-width: 800px) {
  html:before {
    content: "Breakpoint: M";
  }
}
@media only screen and (min-width: 485px) and (max-width: 650px) {
  html:before {
    content: "Breakpoint: S";
  }
}
@media only screen and (min-width: 0px) and (max-width: 485px) {
  html:before {
    content: "Breakpoint: XS";
  }
}

html:after {
  bottom: 80px;
}
@media only screen and (min-width: 1275px) {
  html:after {
    content: "respond-at(xxl) ✓";
  }
}
@media only screen and (min-width: 960px) and (max-width: 1275px) {
  html:after {
    content: "respond-at(xl) ✓";
  }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
  html:after {
    content: "respond-at(l) ✓";
  }
}
@media only screen and (min-width: 650px) and (max-width: 800px) {
  html:after {
    content: "respond-at(m) ✓";
  }
}
@media only screen and (min-width: 485px) and (max-width: 650px) {
  html:after {
    content: "respond-at(s) ✓";
  }
}
@media only screen and (min-width: 0px) and (max-width: 485px) {
  html:after {
    content: "respond-at(xs) ✓";
  }
}

body:before {
  bottom: 110px;
}
@media only screen and (min-width: 0px) {
  body:before {
    content: "respond-above(xs) ✓";
  }
}
@media only screen and (min-width: 485px) {
  body:before {
    content: "respond-above(s) ✓";
  }
}
@media only screen and (min-width: 650px) {
  body:before {
    content: "respond-above(m) ✓";
  }
}
@media only screen and (min-width: 800px) {
  body:before {
    content: "respond-above(l) ✓";
  }
}
@media only screen and (min-width: 960px) {
  body:before {
    content: "respond-above(xl) ✓";
  }
}
@media only screen and (min-width: 1275px) {
  body:before {
    content: "respond-above(xxl) ✓";
  }
}

body:after {
  bottom: 140px;
}
@media only screen and (max-width: 1275px) {
  body:after {
    content: "respond-below(xxl) ✓";
  }
}
@media only screen and (max-width: 960px) {
  body:after {
    content: "respond-below(xl) ✓";
  }
}
@media only screen and (max-width: 800px) {
  body:after {
    content: "respond-below(l) ✓";
  }
}
@media only screen and (max-width: 650px) {
  body:after {
    content: "respond-below(m) ✓";
  }
}
@media only screen and (max-width: 485px) {
  body:after {
    content: "respond-below(s) ✓";
  }
}
@media only screen and (max-width: 0px) {
  body:after {
    content: "respond-below(xs) ✓";
  }
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #555;
}
body p {
  color: #555;
  font-size: 14px;
}
body strong {
  color: #333;
}
body hr {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 20px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Raleway", sans-serif;
  color: #333;
}
body h3 {
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  margin-top: 80px;
}
body div {
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset;
  background: #efefef;
  font-size: 14px;
  color: #555;
  overflow: hidden;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.fraction {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (1/3));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.fraction:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.fraction:last-child {
  margin-right: 0;
}
.fraction:nth-child(3n) {
  margin-right: 0;
}
.fraction:nth-child(3n + 1) {
  clear: both;
}
.fraction::before {
  content: "column('1/3')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.fraction-with-gutter {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (1/3) - (20px - 20px * (1/3)));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.fraction-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.fraction-with-gutter:last-child {
  margin-right: 0;
}
.fraction-with-gutter:nth-child(3n) {
  margin-right: 0;
}
.fraction-with-gutter:nth-child(3n + 1) {
  clear: both;
}
.fraction-with-gutter::before {
  content: "column('1/3')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.fixed {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: 165px ;
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.fixed:last-child {
  margin-right: 0;
}
.fixed::before {
  content: "column('165px')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.fixed-with-gutter {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: 165px ;
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.fixed-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.fixed-with-gutter:last-child {
  margin-right: 0;
}
.fixed-with-gutter::before {
  content: "column('165px')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.content {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: auto;
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.content:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.content:last-child {
  margin-right: 0;
}
.content::before {
  content: "column('content')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.content-with-gutter {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: auto;
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.content-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.content-with-gutter:last-child {
  margin-right: 0;
}
.content-with-gutter::before {
  content: "column('content')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.auto {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  flex: 1;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.auto:last-child {
  margin-right: 0;
}
.auto::before {
  content: "column('auto')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.auto-with-gutter {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  flex: 1;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.auto-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.auto-with-gutter:last-child {
  margin-right: 0;
}
.auto-with-gutter::before {
  content: "column('auto')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.auto-combination.fixed {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: 165px ;
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.auto-combination.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.auto-combination.fixed:last-child {
  margin-right: 0;
}
.auto-combination.fixed::before {
  content: "column('165px')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.auto-combination.auto {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  flex: 1;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.auto-combination.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.auto-combination.auto:last-child {
  margin-right: 0;
}
.auto-combination.auto::before {
  content: "column('auto')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.auto-combination-with-gutter.fixed {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: 165px ;
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.auto-combination-with-gutter.fixed:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.auto-combination-with-gutter.fixed:last-child {
  margin-right: 0;
}
.auto-combination-with-gutter.fixed::before {
  content: "column('165px')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.auto-combination-with-gutter.auto {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  flex: 1;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.auto-combination-with-gutter.auto:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.auto-combination-with-gutter.auto:last-child {
  margin-right: 0;
}
.auto-combination-with-gutter.auto::before {
  content: "column('auto')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.multiline-with-gutter {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (1/3) - (20px - 20px * (1/3)));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.multiline-with-gutter:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.multiline-with-gutter:last-child {
  margin-right: 0;
}
.multiline-with-gutter:nth-child(3n) {
  margin-right: 0;
}
.multiline-with-gutter:nth-child(3n + 1) {
  clear: both;
}
.multiline-with-gutter::before {
  content: "column('1/3')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.multiline-and-nested {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (1/3));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.multiline-and-nested:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.multiline-and-nested:last-child {
  margin-right: 0;
}
.multiline-and-nested:nth-child(3n) {
  margin-right: 0;
}
.multiline-and-nested:nth-child(3n + 1) {
  clear: both;
}
.multiline-and-nested::before {
  content: "column('1/3')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.multiline-and-uneven.small {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (1/4));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.multiline-and-uneven.small:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.multiline-and-uneven.small:last-child {
  margin-right: 0;
}
.multiline-and-uneven.small:nth-child(4n) {
  margin-right: 0;
}
.multiline-and-uneven.small:nth-child(4n + 1) {
  clear: both;
}
.multiline-and-uneven.small::before {
  content: "column('1/4')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.multiline-and-uneven.big {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (2/4));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.multiline-and-uneven.big:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
}
.multiline-and-uneven.big:last-child {
  margin-right: 0;
}
.multiline-and-uneven.big:nth-child(4n) {
  margin-right: 0;
}
.multiline-and-uneven.big:nth-child(4n + 1) {
  clear: both;
}
.multiline-and-uneven.big::before {
  content: "column('2/4')" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.multiline-and-uneven-with-gutter.small {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (1/4) - (20px - 20px * (1/4)));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.multiline-and-uneven-with-gutter.small:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.multiline-and-uneven-with-gutter.small:last-child {
  margin-right: 0;
}
.multiline-and-uneven-with-gutter.small:nth-child(3n) {
  margin-right: 0;
}
.multiline-and-uneven-with-gutter.small:nth-child(3n + 1) {
  clear: both;
}
.multiline-and-uneven-with-gutter.small::before {
  content: "column('1/4', $cycle: 3)" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.multiline-and-uneven-with-gutter.big {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: calc(99.999999% * (2/4) - (20px - 20px * (2/4)));
  flex: none;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
.multiline-and-uneven-with-gutter.big:nth-child(1n) {
  float: left;
  clear: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.multiline-and-uneven-with-gutter.big:last-child {
  margin-right: 0;
}
.multiline-and-uneven-with-gutter.big:nth-child(3n) {
  margin-right: 0;
}
.multiline-and-uneven-with-gutter.big:nth-child(3n + 1) {
  clear: both;
}
.multiline-and-uneven-with-gutter.big::before {
  content: "column('2/4', $cycle: 3)" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.behavior {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: 100%;
  margin-bottom: 0px;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
@media only screen and (min-width: 960px) {
  .behavior {
    width: calc(99.999999% * (1/4));
    flex: none;
  }
  .behavior:nth-child(1n) {
    float: left;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .behavior:last-child {
    margin-right: 0;
  }
  .behavior:nth-child(4n) {
    margin-right: 0;
  }
  .behavior:nth-child(4n + 1) {
    clear: both;
  }
}
.behavior::before {
  content: "column('1/4', $stacking: xl)" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}

.behavior-with-gutter {
  /* =======================================*/
  /* OUTPUT COLUMN STYLES
  /* =======================================*/
  width: 100%;
  margin-bottom: 20px;
  /* =======================================*/
  /* DEBUG GRID FUNCTION
  /* =======================================*/
  background: rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.085) inset !important;
}
@media only screen and (min-width: 800px) {
  .behavior-with-gutter {
    width: calc(99.999999% * (1/4) - (20px - 20px * (1/4)));
    flex: none;
  }
  .behavior-with-gutter:nth-child(1n) {
    float: left;
    clear: none;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .behavior-with-gutter:last-child {
    margin-right: 0;
  }
  .behavior-with-gutter:nth-child(4n) {
    margin-right: 0;
  }
  .behavior-with-gutter:nth-child(4n + 1) {
    clear: both;
  }
}
.behavior-with-gutter::before {
  content: "column('1/4', $stacking: true)" !important;
  display: block;
  width: 10000px;
  margin-right: -10000px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85) !important;
}
